DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=username
DATABASE_PASSWORD=password
DATABASE_NAME=db_name
DATABASE_TZ=Asia/Almaty

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=password

JWT_SECRET=helloworld

MINIO_ROOT_USER=username
MINIO_ROOT_PASSWORD=password